[submodule "uwsgi_workers/adistools-api"]
	path = uwsgi_workers/adistools-api
	url = git@github.com:achojnicki/adistools-api.git
[submodule "uwsgi_workers/adistools-url_shortener"]
	path = uwsgi_workers/adistools-url_shortener
	url = git@github.com:achojnicki/adistools-url_shortener.git
[submodule "uwsgi_workers/adistools-wallfaker"]
	path = uwsgi_workers/adistools-wallfaker
	url = git@github.com:achojnicki/adistools-wallfaker.git
[submodule "concurrent"]
	path = concurrent
	url = git@github.com:achojnicki/adistools-concurrent.git
[submodule "workers/adistools-log_worker"]
	path = workers/adistools-log_worker
	url = git@github.com:achojnicki/adistools-log_worker.git
[submodule "modules/log"]
	path = modules/log
	url = git@github.com:achojnicki/adistools-log.git
[submodule "uwsgi_workers/scarlet-api"]
	path = uwsgi_workers/scarlet-api
	url = git@github.com:achojnicki/scarlet-api.git
[submodule "uwsgi_workers/sicken-api"]
	path = uwsgi_workers/sicken-api
	url = git@github.com:achojnicki/sicken-api.git
[submodule "workers/sicken-socketio_dispatcher"]
	path = workers/sicken-socketio_dispatcher
	url = git@github.com:achojnicki/sicken-socketio_dispatcher.git
[submodule "workers/sicken-worker_t5_chat"]
	path = workers/sicken-worker_t5_chat
	url = git@github.com:achojnicki/sicken-worker_t5_chat.git
[submodule "workers/sicken-worker_t5_speech"]
	path = workers/sicken-worker_t5_speech
	url = git@github.com:achojnicki/sicken-worker_t5_speech.git
[submodule "workers/sicken-speech_recognition"]
	path = workers/sicken-speech_recognition
	url = git@github.com:achojnicki/sicken-speech_recognition.git
[submodule "workers/sicken-speech_synth"]
	path = workers/sicken-speech_synth
	url = git@github.com:achojnicki/sicken-speech_synth.git
[submodule "workers/sicken-vtube_plugin"]
	path = workers/sicken-vtube_plugin
	url = git@github.com:achojnicki/sicken-vtube_plugin.git
[submodule "workers/sicken-worker_gpt2_chat"]
	path = workers/sicken-worker_gpt2_chat
	url = git@github.com:achojnicki/sicken-worker_gpt2_chat.git
[submodule "modules/moma"]
	path = modules/moma
	url = git@github.com:achojnicki/moma-module.git
[submodule "workers/moma-orders_fetcher"]
	path = workers/moma-orders_fetcher
	url = git@github.com:achojnicki/moma-orders_fetcher.git
[submodule "workers/moma-pattern_recognizer"]
	path = workers/moma-pattern_recognizer
	url = git@github.com:achojnicki/moma-pattern_recognizer.git
[submodule "workers/moma-orders_cache_updater"]
	path = workers/moma-orders_cache_updater
	url = git@github.com:achojnicki/moma-orders_cache_updater.git
[submodule "workers/moma-indexes_cache_updater"]
	path = workers/moma-indexes_cache_updater
	url = git@github.com:achojnicki/moma-indexes_cache_updater.git
[submodule "workers/moma-indexes_fetcher"]
	path = workers/moma-indexes_fetcher
	url = git@github.com:achojnicki/moma-indexes_fetcher.git
