[submodule "uwsgi_workers/adistools-api"]
	path = uwsgi_workers/adistools-api
	url = git@github.com:achojnicki/adistools-api.git
[submodule "uwsgi_workers/adistools-url_shortener"]
	path = uwsgi_workers/adistools-url_shortener
	url = git@github.com:achojnicki/adistools-url_shortener.git
[submodule "uwsgi_workers/adistools-wallfaker"]
	path = uwsgi_workers/adistools-wallfaker
	url = git@github.com:achojnicki/adistools-wallfaker.git
[submodule "concurrent"]
	path = concurrent
	url = git@github.com:achojnicki/adistools-concurrent.git
[submodule "workers/adistools-log_worker"]
	path = workers/adistools-log_worker
	url = git@github.com:achojnicki/adistools-log_worker.git
[submodule "uwsgi_workers/scarlet-api"]
	path = uwsgi_workers/scarlet-api
	url = git@github.com:achojnicki/scarlet-api.git
[submodule "uwsgi_workers/sicken-api"]
	path = uwsgi_workers/sicken-api
	url = git@github.com:achojnicki/sicken-api.git
[submodule "workers/sicken-socketio_dispatcher"]
	path = workers/sicken-socketio_dispatcher
	url = git@github.com:achojnicki/sicken-socketio_dispatcher.git
[submodule "workers/sicken-worker_t5"]
	path = workers/sicken-worker_t5
	url = git@github.com:achojnicki/sicken-worker_t5.git
[submodule "workers/sicken-vtube_plugin"]
	path = workers/sicken-vtube_plugin
	url = git@github.com:achojnicki/sicken-vtube_plugin.git
[submodule "workers/sicken-worker_gpt2"]
	path = workers/sicken-worker_gpt2
	url = git@github.com:achojnicki/sicken-worker_gpt2.git
[submodule "modules/moma"]
	path = modules/moma
	url = git@github.com:achojnicki/moma-module.git
[submodule "workers/moma-orders_fetcher"]
	path = workers/moma-orders_fetcher
	url = git@github.com:achojnicki/moma-orders_fetcher.git
[submodule "workers/moma-pattern_recognizer"]
	path = workers/moma-pattern_recognizer
	url = git@github.com:achojnicki/moma-pattern_recognizer.git
[submodule "workers/moma-orders_cache_updater"]
	path = workers/moma-orders_cache_updater
	url = git@github.com:achojnicki/moma-orders_cache_updater.git
[submodule "workers/moma-indexes_cache_updater"]
	path = workers/moma-indexes_cache_updater
	url = git@github.com:achojnicki/moma-indexes_cache_updater.git
[submodule "workers/moma-indexes_fetcher"]
	path = workers/moma-indexes_fetcher
	url = git@github.com:achojnicki/moma-indexes_fetcher.git
[submodule "uwsgi_workers/moma-api"]
	path = uwsgi_workers/moma-api
	url = git@github.com:achojnicki/moma-api.git
[submodule "workers/moma-socketio_dispatcher"]
	path = workers/moma-socketio_dispatcher
	url = git@github.com:achojnicki/moma-socketio_dispatcher.git
[submodule "uwsgi_workers/adistools-pixel_tracker"]
	path = uwsgi_workers/adistools-pixel_tracker
	url = git@github.com:achojnicki/adistools-pixel_tracker.git
[submodule "uwsgi_workers/adistools-img_gen"]
	path = uwsgi_workers/adistools-img_gen
	url = git@github.com:achojnicki/adistools-img_gen.git
[submodule "workers/sicken-worker_stable_diffusion"]
	path = workers/sicken-worker_stable_diffusion
	url = git@github.com:achojnicki/sicken-worker_stable_diffusion.git
[submodule "modules/yuki"]
	path = modules/yuki
	url = git@github.com:achojnicki/yuki-module.git
[submodule "workers/yuki-video_renderer"]
	path = workers/yuki-video_renderer
	url = git@github.com:achojnicki/yuki-video_render.git
[submodule "workers/yuki-director"]
	path = workers/yuki-director
	url = git@github.com:achojnicki/yuki-director.git
[submodule "workers/yuki-speech_generator"]
	path = workers/yuki-speech_generator
	url = git@github.com:achojnicki/yuki-speech_generator.git
[submodule "workers/yuki-image_generator"]
	path = workers/yuki-image_generator
	url = git@github.com:achojnicki/yuki-image_generator.git
[submodule "workers/yuki-supervisor"]
	path = workers/yuki-supervisor
	url = git@github.com:achojnicki/yuki-supervisor.git
[submodule "uwsgi_workers/adistools-resp_get"]
	path = uwsgi_workers/adistools-resp_get
	url = git@github.com:achojnicki/adistools-resp_get.git
